---
- name: Stop AWS EC2 instance
  hosts: localhost
  connection: local
  gather_facts: no

  tasks:
    - name: Stop instance {{ instance_id }}
      amazon.aws.ec2_instance:
        instance_ids: "{{ instance_id }}"
        state: stopped
        region: "eu-west-3"
      when: (ansible_date_time.hour | int >= 20) or (ansible_date_time.hour | int < 6)
      register: result

    - debug:
        msg: "Instance {{ instance_id }} stopped successfully!"
