---
- name: Stop AWS EC2 instance
  hosts: localhost
  connection: local
  gather_facts: no

  tasks:
    - name: Stop instance {{ instance_id }}
      amazon.aws.ec2_instance:
        instance_ids: "{{ instance_id }}"
        state: stopped
        region: "eu-west-3"
        aws_access_key: "{{ aws_access_key }}"
        aws_secret_key: "{{ aws_secret_key }}"
      register: result

    - debug:
        msg: "Instance {{ instance_id }} stopped successfully!"
